
*{
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
}

body{
  background-color: black;
}

/* HEADER START*/

header{
  margin-top: 0px;
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
  background-color: black;
}

.logo{
  display: inline-block;
  height: 50px;
  width: 70%;
  padding: 10px;
}

nav {
  padding: 10px;
}

nav span{
  font-size: 22px;
  text-decoration: underline;
}

/* HEADER ENDS */

/* CONTENT STARTS
content is divided in 3 Containers
*/

.cont{
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0px 20px;
  padding: 70px 0px;
}

/* cont1 = upper picture and title starts */

.cont1{
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  align-items: center;
}

.item1{
  width: 1200px;
  height: auto;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}

.item1 h2{
  font-size: 25px;
  font-weight: bold;
}

.item1 h4{
  font-size: 25px;
  font-weight: normal;
}

/* cont1 ENDS, cont2 = "Tea of the month" section STARTS*/

.cont2{
  padding: 30px;
  display: flex;
  flex-flow: row;
  width: 1000px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.cont2 h2{
font-size: 35px;
font-weight: bold;
}

.cont2 h4{
font-size: 25px;
font-weight: bold;
}

/*  TEA OF THE MONTH section starts
Container "a" (flow=rows)
    Subcontainer "b" = image + text (flow=column)*/

.a{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.b{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;
  height: auto;
  margin: 10px 10px;
}


.text{
  width: auto;
  height: auto;
  text-align: top;
  margin: 10px 0px 0px 0px;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.9;
}


/* "TEA OF THE MONTH" ENDS
- "LOCATION" STARTS
- cont3 contains 4 items: Title + boxes with texts arranged in rows.
- Each box is a container arranged in columns */

.cont3{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 1200px;
  background-image: url(../../resources/images/img-locations-background.jpg);
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
}

.cont3-1{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
  width: 1200px;
  height: 100px;
  justify-content: center;
  align-items: flex-end;
}

.cont3-2{
  margin: 0px;
  display: flex;
  width: 1200px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.item3-2-1{
  display: flex;
  flex-flow: column;
  background-color: black;
  height: 300px;
  width: 300px;
  justify-content: center;
  text-align: center;
  margin: 0px 20px 0px 0px;
}

.item3-2-2{
  display: flex;
  flex-flow: column;
  background-color: black;
  height: 300px;
  width: 300px;
  justify-content: center;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.item3-2-3{
  display: flex;
  flex-flow: column;
  background-color: black;
  height: 300px;
  width: 300px;
  justify-content: center;
  text-align: center;
  margin: 0px 0px 0px 20px;
}

.contact{
  width: 100%;
  text-align: center;
  opacity: 0.9;
}
