
*{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

body{
  background-color: black;
}

/* HEADER START*/

header{
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.logo{
  display: inline-block;
  height: 50px;
  width: 70%;
}

nav span{
  text-decoration: underline;
  justify-content: space-around;
}

/* HEADER ENDS*/
